*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-size: 1rem;
}
main{
    background-color: white;
    max-width: 100%;
}
.upper-bg{
    width: 100%;
    
}
.upper-bg img{
    height: auto;
    width: 100%;
}
.upper-bg h1{
    position: absolute;
    color: white;
    top: 10%;
    left: 30%;
    font-size: 1.7rem;
   
}
.upper-bg i{
    position: absolute;
    color: white;
    top:10%;
    left:70%;
}

.typing{
    position: absolute;
    top:20%;
    left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 70, 70);
}
.typing input{
    outline: none;
    border: none; 
    width: 60%;
    padding: 0.5em;
    background-color: rgb(73, 70, 70);

}
.typing button{
    width: 20%;
   padding: 0.5em;
   background-color: paleturquoise;
   border: none;
   font-size: 1.5rem;
}
.typing button:hover{

  background-color: white;
}
::placeholder{
    font-size: 20px;
}
.todo-list{
   position: absolute;
   top: 35%;
   color: white;
   border: 1px solid;
   border-bottom: none;
   max-width: 100%;
   width: 60%;
   left: 20%;
   border-radius: 10px;
   cursor: pointer;
   background-color: rgb(73, 70, 70);
   font-family: 'Courier New', Courier, monospace;

}
.list li{
    list-style: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 1.5em;
    border-radius: 10px;
}

.bottom-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    position: absolute;
   
    
}
.middle{
    display: flex;
    margin-right: 35px;
}
.all,.active,.completed{
    margin-left: 20px;
}
.left{
    margin-right: 10px;
}
@media screen and (max-width:780px){
    .main{
        max-width: 100%;
        
    }
    .upper-bg{
        width: 100%;   
    }
    .upper-bg h1{
        font-size: 1rem;
    }
    .upper-bg img{
        height: 30vh;  
    }
    .typing{
        width: 60%;
        top:10em;
        left:10em;
        
    }
    .typing input{
        width: 70%;
        padding:1em;
        font-size: 1rem;
    }
    .typing button{
        padding:0;
        font-size: 1rem;
    }
    .todo-list{
        top: 15em;
        width: 60%;
    }
    .bottom-items{
        display: flex;
        
    }
    .middle{
      position:absolute;  
      top: 3em;
    }
  
    .all, .active{ 
        margin-right: 5rem;
    }

    .right{
        margin-right:10rem;
    }
}

@media screen and (max-width:480px){
    
}